process {
  cpus = { check_max( 2 * task.attempt, 'cpus' ) }
  memory = { check_max( 8.GB * task.attempt, 'memory' ) }
  time = { check_max( 12.h * task.attempt, 'time' ) }

  maxRetries = 2
  maxErrors = 2

  //errorStrategy = 'terminate' 
  errorStrategy = 'retry' 
  
  // Process-specific resource requirements
  withName: REWORK_REGENIE_FILES {   
    memory = { check_max( 16.GB * task.attempt, 'memory' ) }
    cpus = 2
    time = { check_max( 1.h * task.attempt, 'time' ) }
  }

  withName: MUNGE_SUMSTATS {
    memory = { check_max(16.GB * task.attempt, "memory")}
    cpus = 2
    time = {check_max(1.h * task.attempt, 'time')}
  }

  withLabel: correlation {
    memory = { check_max(8.GB * task.attempt, "memory")}
    cpus = 2
    time = {check_max(1.h * task.attempt, 'time')}
  }

}

params {
  // Defaults only, expecting to be overwritten
  max_memory = 64.GB
  max_cpus = 8
  max_time = 24.h
}
